{% extends 'membership_management/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <main class="page login-page">
        <div class="card shadow mb-3">
            <div class="card-body">
                {% if validlink %}
                <h1>Set a new password!</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Change my password">
                </form>

                {% else %}
                <h1>Invalid reset link</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>

                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}