<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Hot Shot Table Tennis</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'membership_management/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="{% static 'membership_management/css/styles.min.css' %}" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
      <a class="navbar-brand logo" href="/"><img src="{% static 'membership_management/img/logo.jpg' %}"
          width="50" />&nbsp;Table Tennis</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link " href="{% url 'check_in' %}">CHECK IN</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'membership_page' %}">Membership</a>
          </li>
        </ul>
        <a class="btn btn-outline-secondary active" role="button" href="{% url 'account' %}">ACCOUNT</a>
      </div>
    </div>
  </nav>
  <main class="page login-page">
    <section class="clean-block clean-form dark" style="margin: -40px; ">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Hi {{ member.first_name }}!</h2>

          <div class="card">
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
            {% endif %}
            <div class="card-body">
              <h4 class="card-title">Your Account Barcode</h4>
              <div style="margin: 10px"><img
                  src="https://mobiledemand-barcode.azurewebsites.net/barcode/image?content={{member.email}}&size=80&symbology=CODE_128&format=png&text=false"><br>
              </div>
              <!-- <br> -->
              {% if is_membership_active %}
                {% if member.membership.is_subscription != 'N' %}
                  <h6 class="text-muted card-subtitle mb-2">
                    Current Membership: {{ member.membership }}
                  </h6>
                  <h6 class="text-muted card-subtitle mb-2">
                    Next Cycle Starts: {{ member.membership_expiration }}
                  </h6>
                {% else %}
                <h6 class="text-muted card-subtitle mb-2">
                  Expiration: {{ member.membership_expiration }}
                </h6>
                {% endif %}
              {% else %}
              <h6 class="text-muted card-subtitle mb-2">
                No active membership
              </h6>
              <a class="btn btn-primary" role="button" href="{% url 'membership_page' %}" style="margin: 0 10px;">Buy
                Membership</a>
              {% endif %}

              <a class="btn btn-primary" role="button" style="margin: 0 10px;" href="{% url 'logout' %}">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Member Information</p>
      </div>
      <div class="card-body">
        <form action="{% url 'update_member' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="email"><strong>Email Address</strong></label><input class="form-control" type="email"
                  placeholder="user@example.com" name="email" value="{{ member.email }}" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="username"><strong>Phone Number</strong></label>
                <input class="form-control" type="tel" name="phone_number" pattern="[0-9]{10}" placeholder="1234567890"
                  value="{{ member.phone_number }}" />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="first_name"><strong>First Name</strong></label><input class="form-control" type="text"
                  placeholder="John" name="first_name" value="{{ member.first_name }}" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text"
                  placeholder="Doe" name="last_name" value="{{ member.last_name }}" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit">
              Save
            </button>
          </div>
        </form>
        <div><a href="{% url 'change_password' %}">Change
            Password</a></div>
        {% if is_membership_active and member.membership.is_subscription != 'N' %}
        <div><a href="{% url 'change_password' %}">Cancel Membership</a></div>
        {% endif %}
      </div>
    </div>
  </main>
  <footer class="page-footer dark" style="padding: 0px;">
    <div class="footer-copyright">
      <p>Membership Management System by Z Lin</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="{% static 'membership_management/js/script.min.js' %}"></script>
</body>

</html>