<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>{% block title %}{{ COMPANY_NAME }}{% endblock %}</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'membership_management/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="{% static 'membership_management/css/styles.min.css' %}" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
      <a class="navbar-brand logo" href="/"><img src="{% static 'membership_management/img/logo.jpg' %}"
          height="50" />&nbsp;{{ COMPANY_NAME }}</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <!-- <li class="nav-item" role="presentation">
            <a class="nav-link " href="{% url 'check_in' %}">CHECK IN</a>
          </li> -->
          <li class="nav-item" role="presentation">
            <a id="membership" class="nav-link" href="{% url 'membership_page' %}">Membership</a>
          </li>
        </ul>
        <a id="account" class="btn btn-outline-secondary" role="button" href="{% url 'account' %}">ACCOUNT</a>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="page-footer light" style="padding: 0px;">
    <div class="footer-copyright">
      <p></p><a href="https://help.memberfy.org">Powered By Memberfy.org</a></p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="{% static 'membership_management/js/script.min.js' %}"></script>
  <script src="https://js.stripe.com/v3/"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>