{% extends 'membership_management/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<main class="page login-page">
  <div class="card shadow mb-3">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
          {% if 'password' not in field.html_name %}
          <label>{{ field.label_tag }}</label><br />
          <input class="form-control item" name="{{ field.html_name }}" />
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% else %}
          <label>{{ field.label_tag }}</label><br />
          <input class="form-control item" type="password" name="{{ field.html_name }}" />
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}