<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Hot Shot Table Tennis</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'membership_management/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="{% static 'membership_management/css/styles.min.css' %}" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
      <a class="navbar-brand logo" href="/"><img src="{% static 'membership_management/img/logo.jpg' %}"
          width="50" />&nbsp;Table Tennis</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link " href="{% url 'check_in' %}">CHECK IN</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'membership_page' %}">Membership</a>
          </li>
        </ul>
        <a class="btn btn-outline-secondary active" role="button" href="{% url 'account' %}">ACCOUNT</a>
      </div>
    </div>
  </nav>
  <main class="page login-page">
    <div class="card shadow mb-3">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          {% for field in form %}
          <div class="form-group">
            {% if 'password' not in field.html_name %}
            <label>{{ field.label_tag }}</label><br />
            <input class="form-control item" name="{{ field.html_name }}" />
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% else %}
            <label>{{ field.label_tag }}</label><br />
            <input class="form-control item" type="password" name="{{ field.html_name }}" />
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endif %}
          </div>
          {% endfor %}
          <button class="btn btn-primary btn-block" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </main>
  <footer class="page-footer light" style="padding: 0px;">
    <div class="footer-copyright">
      <p>Membership Management System by Z Lin</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="{% static 'membership_management/js/script.min.js' %}"></script>
</body>

</html>