<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Hot Shot Table Tennis</title>
    {%load static%}
    <link
      rel="stylesheet"
      href="{% static 'membership_management/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'membership_management/css/styles.min.css' %}"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    >
      <div class="container">
        <a class="navbar-brand logo" href="/"
          ><img
            src="{% static 'membership_management/img/logo.jpg' %}"
            width="50"
          />&nbsp;Table Tennis</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="{% url 'check_in' %}">CHECK IN</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="{% url 'membership_page' %}">Membership</a>
            </li>
          </ul>
          <a class="btn btn-outline-secondary" role="button" href="{% url 'account' %}">ACCOUNT</a>
        </div>
      </div>
    </nav>
    <main class="page login-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info">Member Check In</h2>
            <p>Scan or enter your email below</p>
          </div>
          <form action="{% url 'check_in' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Member email</label
              ><input
                class="form-control"
                type="text"
                name="member_email"
                placeholder="Scan or enter your member email"
              />
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Check In
            </button>
          </form>
          {% if message1 %}
          <div class="block-heading">
            <h3>{{ message1 }}</h3>
            {% if message2 %}
            <h3>{{ message2 }}</h3>
            {% endif %} {% if message3 %}
            <h3>{{ message3 }}</h3>
            {% endif %} {% if purchase_button %}
            <h3><a href="#">Buy Membership</a></h3>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </section>
    </main>
    <footer class="page-footer dark" style="padding: 0px;">
      <div class="footer-copyright">
        <p>Membership Management System by Z Lin</p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'membership_management/js/script.min.js' %}"></script>
  </body>
</html>
