{% extends 'membership_management/base.html' %}

{% block title %}Check In{% endblock %}

{% block content %}

<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Member Check In</h2>
        {% if profile_pic %}
        <img height=200 src="{{ profile_pic.url }}" alt="profile_pic">
        {% endif %}
      </div>
      {% if alert_type %}
      <div class="alert {{ alert_type }} text-center" role="alert">
        <h3>{% if message1 %}
          Hi <strong>{{ message1 }}</strong>
          {% endif %}
          {% if message2 %}
          {{ message2 }}
          {% endif %}
          {% if message3 %}
          {{ message3 }}
          {% endif %}
          {% if purchase_button %}
          <a href="{% url 'membership_page' %}">Buy now</a>
          {% endif %}
        </h3>
      </div>
      {% endif %}
      <form action="{% url 'check_in' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="email_or_phone">Member email or phone</label><input class="form-control" type="text"
            name="email_or_phone" placeholder="Scan or enter your member email or phone" autofocus />
        </div>
        <button class="btn btn-primary btn-block" type="submit">
          Check In
        </button>
      </form>

    </div>
  </section>
</main>
{% endblock %}