{% extends 'membership_management/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
<main class="page registration-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Create Account</h2>
        <p>
          Create an account for free to manage your membership
          and get a digital barcode to check in.
        </p>
      </div>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {% if 'password' not in field.html_name %}
            <label>{{ field.label_tag }}</label><br />
            <input class="form-control item" name="{{ field.html_name }}" />
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% else %}
            <label>{{ field.label_tag }}</label><br />
            <input class="form-control item" type="password" name="{{ field.html_name }}" />
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit">Create Account</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
