{% extends 'membership_management/base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Log In</h2>
        <p>
          Log in to your account to manage your membership.
        </p>
      </div>
      <form action="{% url 'login' %}" method="post">
        {% if success_message %}
        <div class="alert alert-success" role="alert">
          <strong>{{ success_message }}</strong>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email</label><input class="form-control item" type="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label><input class="form-control" type="password" name="password" />
        </div>
        <button class="btn btn-primary btn-block" type="submit">
          Log In
        </button>
        <p class="text-left" style="margin: 15px 0px;">
          <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </p>
        {% if message %}
        <div class="alert alert-danger" role="alert">
          <strong>{{ message }}</strong>
        </div>
        {% endif %}
        <hr />
        <p class="text-left" style="margin: 10px 0px;">
          Don't have an account?
        </p>
        <a class="btn btn-outline-primary btn-block" role="button" href="{% url 'create_account' %}">Create
          Account</a>
      </form>
    </div>
  </section>
</main>
{% endblock %}
