{% extends 'membership_management/base.html' %}

{% block title %}Membership{% endblock %}

{% block content %}
<main class="page pricing-table-page">
  <section class="clean-block clean-pricing dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Membership Pricing</h2>
        {% for membership in memberships %}
        {% if membership.title == 'header' %}
        <p>
          {{ membership.description }}
        </p>
        {% endif %}
        {% endfor %}
      </div>

      <div class="card-deck">
        {% for membership in memberships %}
        {% if membership.title != 'header' and membership.title != 'footer' %}
        <div class="card clean-pricing-item text-center" style="min-width: 18rem; margin: 10px;">
          <div class="card-header bg-transparent d-flex align-items-center justify-content-center h-100">
            <h4>{{ membership.title }}</h4>
          </div>
          <div class="card-body bg-transparent d-flex align-items-center justify-content-center h-100"
            style="padding-top: 0px;">
            {% if membership.banner_message %}
            <div class="ribbon"><span>{{ membership.banner_message }}</span></div>
            {% endif %}
            <p class="card-text">{{ membership.description }}</p>
          </div>
          <div class="card-footer bg-transparent ">
            <div class="price">
              <h4>${{ membership.price }}</h4>
            </div>
            {% if is_membership_active and member.membership.is_subscription == 'Y' %}
            <a id="{{membership.id}}" class="btn btn-outline-primary btn-block">Thanks for subscribing!</a>
            {% elif is_membership_active and membership.is_subscription == "Y"  %}
            <a id="{{membership.id}}" class="btn btn-outline-primary btn-block">Contact us to subscribe!</a>
            {% elif membership.is_subscription != 'N' %}
            <a id="{{membership.id}}" class="subscribe btn btn-outline-primary btn-block">Subscribe</a>
            {% else %}
            <a id="{{membership.id}}" class="buy btn btn-outline-primary btn-block">Buy Now</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% for membership in memberships %}
      {% if membership.title == 'footer' %}
      <br>
      <div>
        <p>
          {{ membership.description }}
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
<script>
  document.querySelector("#membership").classList.add("active") // make nav item display as active
</script>

<script>
  var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
  var button = document.querySelectorAll('.buy').forEach((button) => {
    button.addEventListener('click', function (e) {
      e.preventDefault();
      createSessionAndRedirect(button.id);
    });
  });

  var subscribeButton = document.querySelectorAll('.subscribe').forEach((button) => {
    button.addEventListener('click', function (e) {
      e.preventDefault();
      createSubscriptionSessionAndRedirect(button.id);
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function createSessionAndRedirect(buttonId) {
    //pass checkout info to server to create session
    fetch('stripe_create_session/'.concat(buttonId), {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFTOKEN': csrftoken,
        "Set-Cookie": "HttpOnly;SameSite=None",
      },
      body: JSON.stringify({
        amount: 100,
      }),
      credentials: 'same-origin',
    })
      .then((response) => response.json())
      .then((session) => {
        // redirect to checkout
        stripe.redirectToCheckout({ sessionId: session.id })
        console.log('success', data);
      })
      .catch((error) => {
        window.location.href = "{% url 'account' %}"
        console.log('not logged in', error);
      });
  };


  function createSubscriptionSessionAndRedirect(buttonId) {
    //pass checkout info to server to create session
    fetch('stripe_subscription_create_session/'.concat(buttonId), {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFTOKEN': csrftoken,
        "Set-Cookie": "HttpOnly;Secure;SameSite=None",
      },
      body: JSON.stringify({
        amount: 100,
      }),
      credentials: 'same-origin',
    })
      .then((response) => response.json())
      .then((session) => {
        // redirect to checkout
        stripe.redirectToCheckout({ sessionId: session.id })
        console.log('success', data);
      })
      .catch((error) => {
        window.location.href = "{% url 'account' %}"
        // console.log('not logged in', error);
      });
  };
</script>
{% endblock %}